body {
  padding-top: 70px;
}
#main-wrapper {
  max-width:1200px;
  width:100%;
  height: auto;
  margin:0 auto;
  position:relative;
  background: #fff;
  display: table;
  padding: 30px;
}
#line-brand {
  display: table;
  height: 90px;
  width: 100%;
}
#brand-wrapper {
  max-width:1200px;
//  padding: 0 30px;
}